@import "reset.css";

.formulario{
   display: flex;
   flex-direction: column;
   align-items: center;  
   justify-content: center;
   flex-wrap: wrap;
}

.titulo{
  text-align: center;
}

label {
    display: block;
    margin-bottom: 1%;
    text-align: center;
}

.input_id,
.input_nome,
.input_cpf {
    width: 96%;
    border-radius: 10px;
    border: 2px #3e517e solid;
    margin: 10px 0px 0px 5rem;
    padding: 8px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    background: #e5e5e6;
}

#botoes {
    margin-top: 2%;
    text-align: center;
    width: 100%;
    display: block;
}

#cadastrar,
#voltar {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    width: 29%;
    height: 36px;
    text-align: center;
    background-color: #e5e5e6;
    border-radius: 10px;
    border: 2px #3e517e solid;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

#cadastrar:hover,
#voltar:hover {
    background: #ffffff;
    font-weight: 700;
    font-size: 14px;
}

#cadastrar {
    margin-left: -2%;
    margin-right: 4.9%;
}

#voltar a {
    color: #0c0d2e;
}

#voltar {
    margin-left: 4.9%;
    margin-right: 0;
}

@keyframes iniciar {
    0% {
        top: -20%;
        opacity: 1%;
        pointer-events: none;
    }

    100% {
        top: 50%;
        opacity: 100%;
        pointer-events: all;
    }
} 

@media (max-width: 1024px){
.titulo{
    text-align: center;
}

.card{
    width: 70vw;
    top: 50%;
    height: 60vh;
}

.input_id,
.input_nome,
.input_cpf {
    width: 55vw;
    border-radius: 10px;
    padding: 2px;
 }

.titulo,label{
    text-align: center;
 }
}

@media (max-width: 800px){
.card{
    top: 50%;
    width: 70vw;
    height: 60vh;
}
.input_id,
.input_nome,
.input_cpf {
    width: 55vw;
    border-radius: 10px;
    padding: 2px;
 }

 .titulo,label{
    text-align: center;
 }
}

@media (max-width: 500px){
.card{
    width: 150vw;
    top: 80%;
    margin-left: 30%;
}

.input_id,
.input_nome,
.input_cpf {
    width: 95%;
    padding: 5px;
    margin: 0 0 0 3rem;
 }

.titulo,label{
    text-align: center;
 }

}

@media (max-width: 375px){
.card{
     width: 150vw;
     top: 80%;
}

 .titulo,label{
    text-align: center;
 }

.input_id,
.input_nome,
.input_cpf {
    width: 500px;   
 }

}

@media (max-width: 320px){
.card{
    width: 130%;
    height: 80%;
    top:80%;
    margin-left: 30%;
    padding: 0 2% 0 2%;
}

.titulo,label{
    text-align: center;
}

.input_id,
.input_nome,
.input_cpf
{
    width: 90%;
 }
}

.erro{
   color: red;
   position: fixed;
   text-align: center;
   margin: 0 80px;
}