@import "reset.css";

.card {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #deebe967;
    border-radius: 10px;
    padding: 60px;
    width: 60%;
    height: 350px;
    align-items: center;
    font: #0c0d2e;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    display: inline-block;
    animation: iniciar 1.6s ease-out;
    pointer-events: all;
}

.titulo {
    font-size: 1.8em;
    margin-bottom: 2%;
    display: inline-flex;
}
.fundo-botao-atualizar{
  float: right;
}

table,
th,
td {
    border: 1px #3e517e solid;
    border-collapse: collapse;
}

table {
    width: 100%;
    line-height: 25px;
    border: 2px #3e517e solid;
}

th {
    background-color: #8e8e92;
}

td {
    padding-left: 10px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

table tr:nth-child(odd) {
    background: #d9d9da;
}

table tr:nth-child(even) {
    background: #ffffff;
}

.btn-atualizar {
    display: inline-block;
}

img {
    width: 30px;
    height: auto;
    margin-left: 10px;
    transform: translate(-25%, -5%);
    cursor: pointer;
    padding-top: 6px;
    padding-left: 2px;
}

.sucesso{
  text-align:center;
  color: green;
  font-size: 20px;
}

.modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modalContent{
  background-color: #fefefe;
	margin: 15% auto;
	padding: 20px 0 60px;
	border: 1px solid #888;
	width: 80%;
	max-width: 500px;
	border-radius: 5px;
}

.modalContent p{
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.close {
	color: #54595e;
	float: right;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.botao{
  display: flex;
  margin-top: 30px;
	flex-wrap: wrap;
}

.excluir-btn{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: bold;
    font-size: 14px;
    width: 50%;
    height: 36px;
    text-align: center;
    background-color: #e5e5e6;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.editar-btn{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 14px;
    width: 50%;
    height: 36px;
    text-align: center;
    background-color: #e5e5e6;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.excluir{
  background-color: white;
	color: black;
	text-align: center;
	border: 1px solid #302d2d;
	border-radius: 8px;
	padding: 12px 20px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	font-family: "Space Grotesk", sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 700;
	text-transform: uppercase;
	width: 44%;
	margin: 0 2%;
}

.cancelar{
  background-color: gray;
	color: #fff;
	border: 1px solid #000000;
	border-radius: 8px;
	padding: 12px 20px;
	text-align: center;
	cursor: pointer;
	transition: background-color 0.3s ease;
	font-family: "Space Grotesk", sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 700;
	text-transform: uppercase;
	width: 44%;
	margin: 0 2%;
}

.fundo-botao-atualizar:hover {
    background-color: #ffffff;
}

.fundo-botao-atualizar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 2px #3e517e solid;
    background-color: #e5e5e6;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1024px){
  .card{
    top: 69%;
  }
 
}

@media screen and (max-width: 800px){
  .card{
    top: 69%;
  }
}


@media screen and (max-width: 425px){
  .card{
    top: 69%;
    width: 100%;
    padding:0 2% 0 2%;
    height: 80%;
  }

  .titulo{
    text-align: center;
  }

  .btn-atualizar{
    text-align: center;
  }

   table,th,td{
     text-align: center;
     width: 100px;
     padding:0 5px 0 6px;
     height: 25%;
  }

 
}

@media screen and (max-width: 375px){
  .card{
    top: 69%;
    width: 100%;
    padding:0 2% 0 2%;
    height: 80%;
  }

  .titulo2{
    text-align: center;
  }

   table,th,td{
     text-align: center;
     width: 100px;
     padding:0 10px 0 10px;
     height: 25%;
  }

 
}

@media screen and (max-width: 320px){
  .card{
    top: 69%;
    width: 100%;
    margin-left: 30%;
    height: 80%;
  }

  .titulo{
    text-align: center;
    margin-left: 15%;
  } 

   table,th,td{
     text-align: center;
     width: 180px;
     margin-left: 15%;
     height: 25%;
  }
}
