<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listagem De Pessoas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <!-- Lista de pessoas cadastradas -->
    <header class="cabecalho">
    <section>
      <nav>
        <ul class="items">
          <li><button class="hamburger-menu">&#9776;</button>
            <ul class="dropdown">
              <li><a href="#">Quem somos</a></li>
              <li><a href="#">Deixe um cometário</a></li>
            </ul>
          </li>
          <li>
            <a href="{{ url_for('index') }}">Home</a>
          </li>
          <li>
            <a href="{{ url_for('cadastrarPessoas') }}">Cadastrar Pessoas</a>
          </li>
        </ul>
      </nav>
    </section>
    </header>
    <div class="card">
        {% block content %} {% endblock %}
    </div>
    <footer>
      <div>
      <div class="footer-links">
        <ul>
          <li><a href="#">Not&iacute;cias</a></li>
          <li><a href="#">Sobre</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </div>
      <div class="social-medias">
        <ul>
          <li><a href="#" class="fa fa-facebook"></a></li>
          <li><a href="#" class="fa fa-github"></a></li>
          <li><a href="#" class="fa fa-instagram"></a></li>
          <li><a href="#" class="fa fa-linkedin"></a></li>
        </ul>
      </div>
    </div>
    </footer>
    <script src="{{ url_for('static', filename='js/formulario.js') }}"></script>  
  </body>
</html>
