<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listagem De Pessoas</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <!-- Lista de pessoas cadastradas -->
    <header>
      <section>
        
      </section>
    </header>
    <div class="lista">
      <h2 class="titulo2">Pessoas cadastros</h2>
      <button class="fundo-botao-atualizar" type="submit">
        <img
          clas="btn-atualizar"
          src="images/atualizar.png"
          alt="icone de atualização"
        />
      </button>
      <a href="{{ url_for('cadastrarPessoas') }}">Cadastrar Nova Pessoa</a>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Editar</th>
            <th>Excluir</th>
          </tr>
        </thead>
        <tbody id="pessoas-cadastrads">
          <tr>
            {% for pessoa in pessoas %}
            <td>{{ pessoa.id }}</td>
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.cpf }}</td>
            <td><a href="/editar/{{ pessoa.id }}">Editar</a></td>
            <td><a href="/pessoas/{{ pessoa.id }}">Excluir</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
