{% extends 'base.html' %} {% block content %}
      <h2 class="titulo">Pessoas cadastradas</h2>
      <button class="fundo-botao-atualizar" type="submit">
        <img
          class="btn-atualizar"
          src="{{ url_for('static', filename='img/atualizar.png') }}"
          alt="icone de atualização"
        />
      </button>
      <table class="tabela">
        <p class="sucesso">{{ get_flashed_messages() }}</p>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Editar</th>
            <th>Excluir</th>
          </tr>
        </thead>
        <tbody id="pessoas-cadastrads">
          <tr>
            {% for pessoa in pessoas %}
            <td>{{ pessoa[0] }}</td>
            <td>{{ pessoa[1] }}</td>
            <td>{{ pessoa[2] }}</td>
            <td>
              <button class="editar-btn" ><a href="/editar/{{ pessoa[0] }}">Editar</a></button>
            </td>
            <td>
              <button class="excluir-btn" data-item-id="{{ pessoa[0] }}">Excluir</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div id="myModal" class="modal">
        <div class="modalContent">
           <span class="close">&times;</span>
            <p>Você tem certeza que deseja excluir este item?</p>
            <div class="botao">
              <button id="confirmar-exclusao" class="excluir">Sim</button>
              <button id="cancelar-exclusao" class="cancelar">Não</button>
            </div>
        </div>
    </div>

     <div id="resultModal" class="modal">
        <div class="modalContent">
            <span class="close">&times;</span>
            <p>Registro Excluído Com Sucesso</p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/modalexcluir.js') }}"></script>
 {% endblock %}